@charset "UTF-8";
.Heading {
	font-family: Comic Sans MS, cursive;
	font-style: italic;
	line-height: inherit;
	font-weight: bolder;
	text-transform: uppercase;
	font-variant: normal;
	text-decoration: overline;
	text-shadow: 1px 2px 2px #0FC;
	position: relative;
	color: #00F;
}
#heading {
	background-color: #39F;
	text-align: center;
	word-spacing: normal;
	white-space: normal;
	display: inline;
	clear: right;
	float: left;
	height: auto;
	width: auto;
	padding-top: 3px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 3px;
}
.labeltwo {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-style: italic;
	line-height: 35px;
	font-weight: bolder;
	font-variant: small-caps;
	text-transform: capitalize;
	color: #F30;
}
.BuyPizza {
	font-family: Arial, Helvetica, sans-serif;
	cursor: crosshair;
	filter: Light;
	page-break-before: always;
	page-break-after: auto;
	background-color: #CFF;
	height: 100px;
	width: 100px;
	padding: 5px;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
	border-top-color: #0CF;
	border-right-color: #09F;
	border-bottom-color: #06F;
	border-left-color: #3CF;
	position: absolute;
	top: 225px;
	right: 600px;
}
.faviorate {
	color: #00C;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 24px;
}
