@charset "UTF-8";
#Mecai {
	font-family: "Comic Sans MS", cursive;
	background-color: #F69;
	border-top-color: #F33;
	border-right-color: #F33;
	border-bottom-color: #F33;
	border-left-color: #F33;
	font-size: 36px;
	font-style: normal;
	line-height: normal;
	font-weight: 36;
	font-variant: normal;
	text-transform: capitalize;
	color: #06F;
	
	text-align: center;
}
Nimaeht {
	background-color: #9CF;
	border: medium dashed #0CF;
	list-style-type: circle;
}
#Mecai {
	font-family: "Comic Sans MS", cursive;
	font-size: 36px;
	font-style: normal;
	line-height: normal;
	background-color: #3FF;
	background-image: url(Images_mecai/Lolt.jpg);
	word-spacing: normal;
	border: medium solid #CFF;
}

#Mecai #id h4 {
	background-color: #3F6
}
#target {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 900;
	font-variant: small-caps;
	text-transform: capitalize;
	color: #0000FF;
	text-decoration: underline;
	background-color: #F00;
}

