<style type="text/css">
body,td,th {
	font-family: "Comic Sans MS", cursive;
	font-size: 18px;
	color: #66FFFF;
}

	
h3 {
	font-size: 18px;
}
h4 {
	font-size: 12px;
}


p {
	background-color: #0F6;
	font-family: "Comic Sans MS", cursive;
	letter-spacing: 0.10em;
	word-spacing: normal;
	vertical-align: text-top;
	text-align: left;
	white-space: normal;
	display: block;
	padding: 2px;
	clear: none;
	float: none;
	height: auto;
	width: auto;
	margin-top: 1.5em;
	margin-right: 0;
	margin-bottom: 1.5em;
	margin-left: 0;
	border: thin groove #99C;
	list-style-type: upper-roman;
	list-style-position: inside;
	position: static;
	visibility: inherit;
	z-index: auto;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	clip: rect(auto,auto,auto,auto);
	cursor: w-resize;
	page-break-before: auto;
}
h1 {
	background-color: #0099FF;
	color: #0033FF;
	font-size: larger;
	padding: 0.75em;
	background-image: none;
	font-family: "Comic Sans MS", cursive;
	font-style: oblique;
	line-height: 50px;
	width: 300px;
	margin-top: -0.75em;
	margin-right: -0.75em;
	margin-bottom: 0.75em;
	margin-left: -0.75em;
	list-style-type: upper-roman;
	page-break-before: left;
	border: thin solid #FFF;
	cursor: pointer;
}
h2 {
	background-color: #99FFFF;
	color: #0000FF;
	font-size: 150%;
	padding: 1em;
	margin: -1em -1em 1em -1em;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
}
h1 + h2 {
    margin-top: 2em;
    padding-top: 0;
}
.backgroundcolor {
	background-color: #CFF;
}
.Willardspizzashop {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-style: italic;
	line-height: normal;
	font-weight: inherit;
	color: #00F;
}
html {
	background-color: #FFFFFF;
}
label {
	font-family: "Times New Roman", Times, serif;
	color: #03F;
	border-top-color: #9FF;
	border-right-color: #9FF;
	border-bottom-color: #9FF;
	border-left-color: #9FF;
	background-color: #9FF;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	font-size: 16px;
}
legend {
	font-family: "Comic Sans MS", cursive;
	color: #30F;
	background-color: #CFF;
	word-spacing: 1em;
	letter-spacing: .35em;
	white-space: normal;
}
fieldset {
	color: #039;
	text-align: left;
	white-space: normal;
}
